<?xml version='1.0' encoding='utf-8'?>
<widget id="org.elphadeal.anotheroid" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- config.xml の <widget> タグ内に追加 -->
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="Fullscreen" value="true" />
    <name>Anotheroid</name>
    <description>
        Anotheroid is Another Android App Platform.
    </description>
    <author email="elphadeal@gmail.com">
        elphadeal
    </author>
    <platform name="android">
        <!-- アプリアイコン（自動で各解像度にリサイズされます） -->
        <icon src="res/icon.png" />

        <!-- スプラッシュスクリーン（起動画面）の設定 -->
        <preference name="SplashScreen" value="screen" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="FadeSplashScreenDuration" value="300" />
    </platform>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
